:root {

/*	start color variables	*/

--very-dark-grayish-blue: hsl(217, 19%, 35%);
--desaturated-dark-blue: hsl(214, 17%, 51%);
--grayish-blue: hsl(212, 23%, 69%);
--light-grayish-blue: hsl(210, 46%, 95%);
--white:#fff;

/*	end color variables	*/


/*	start font variables	*/

--font-size:81.25%;
--ff:'Manrope', sans-serif;
--fw-s:500;
--fw-l:700;

/*	end font variables	*/


}